.signup-container{
    margin-top:150px;
}

.signup-inner-container{
    background: rgba(0,0,0,0.8);
    border-radius:5px;
    padding:15px;
}
#signup-form input{
    border: none;
    border-radius:0px;
    border-bottom: 1px solid white;
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    color: white;
}

#signup-form label{
    font-size: 21px;
}


.narrow{
    margin: auto;
}